#goods {
    --accent-color: #717171;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #f3f3f3;
    --gray-color-300: #d8d8d8;
    --gray-color-500: #aeaeae;
    --gray-color-800: #3a3a3a;
    --light-gray-color: #d7dddf;
    --primary-color: #72aec8;
    --bs-primary-rgb: 114, 174, 200;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --light-blue-color: #edf1f3;
    --navbar-color-color: #131814;
    --swiper-theme-color: #4a4a4a;
    --swiper-pagination-color: #4a4a4a;
}

/* Fonts */
#goods {
    --body-font: "Lato", sans-serif;
    --heading-font: "Jost", sans-serif;
}
/* 1.1 General Styles
/*----------------------------------------------*/
    #goods *,
    #goods *::before,
    #goods *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

#goods {
    box-sizing: border-box;
}

#goods {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

#goods p {
    font-size: 1.2em;
    color: var(--gray-color-500);
}

#goods ul.inner-list li {
    font-size: 1.2em;
}

#goods a {
    color: var(--dark-color);
    text-decoration: none;
    transition: 0.3s color ease-out;
}

#goods a.light {
    color: var(--light-color);
}

#goods a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {
    #goods {
        --header-height: 100px;
        --header-height-min: 80px;
    }
}


#goods .padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}
#goods .no-padding-top {
  padding-top: 0 !important;
}
#goods .no-padding {
  padding: 0 !important;
}
#goods h3.card-title,
#goods h3.cart-title {
  font-size: 1.5em;
}
#goods .btn.btn-medium {
  padding: 0.8em 2.8em;
  font-size: 1.1em;
  letter-spacing: calc( 2 / 576 * 100vw * var(--bs-var));
}
#goods .btn.btn-normal {
  text-decoration: underline;
  border: none;
}
#goods .btn.btn-normal:hover {
  text-decoration: none;
}
#goods .btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}
#goods .btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
#goods .btn-right {
  text-align: right;
  display: block;
}
#goods .swiper {
  padding: calc( 1.6 / 576 * 100vw * var(--bs-var))
 !important;
}
/* 4. Product
/*----------------------------------------------*/
#goods .product-store .product-card .cart-concern {
  bottom: calc( 75 / 576 * 100vw * var(--bs-var));
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  opacity: 0;
}
#goods .product-store .product-card:hover .cart-concern {
  bottom: calc( 90 / 576 * 100vw * var(--bs-var));
  opacity: 1;
}
#goods .product-card .cart-concern svg {
  width: calc( 16 / 576 * 100vw * var(--bs-var));
  height: calc( 16 / 576 * 100vw * var(--bs-var));
  fill: var(--light-color);
  margin-left: calc( 9 / 576 * 100vw * var(--bs-var));
}
#goods .product-card .card-detail span {
  font-size: 1.5em;
}
#goods .product-store
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: calc( 35 / 576 * 100vw * var(--bs-var));
}
#goods .swiper-pagination span.swiper-pagination-bullet {
  width: calc( 15 / 576 * 100vw * var(--bs-var));
  height: calc( 15 / 576 * 100vw * var(--bs-var));
}
#goods .paging-navigation .pagination .page-numbers {
  font-size: 1.4em;
  color: var(--gray-color-500);
}
#goods .paging-navigation .pagination .page-numbers:hover {
  color: var(--primary-color);
}
#goods .paging-navigation .pagination svg {
  width: calc( 35 / 576 * 100vw * var(--bs-var));
}
/*------------ Sidebar -----------*/
#goods .sidebar-post-item h4.card-title {
  font-size: 1.2em;
}

@media (min-width: 576px) {
#goods .padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}
#goods .no-padding-top {
  padding-top: 0 !important;
}
#goods .no-padding {
  padding: 0 !important;
}
#goods h3.card-title,
#goods h3.cart-title {
  font-size: 1.5em;
}
#goods .btn.btn-medium {
  padding: 0.8em 2.8em;
  font-size: 1.1em;
  letter-spacing: calc( 2 / 768 * 100vw * var(--bs-var));
}
#goods .btn.btn-normal {
  text-decoration: underline;
  border: none;
}
#goods .btn.btn-normal:hover {
  text-decoration: none;
}
#goods .btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}
#goods .btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
#goods .btn-right {
  text-align: right;
  display: block;
}
#goods .swiper {
  padding: calc( 1.6 / 768 * 100vw * var(--bs-var))
 !important;
}
/* 4. Product
/*----------------------------------------------*/
#goods .product-store .product-card .cart-concern {
  bottom: calc( 75 / 768 * 100vw * var(--bs-var));
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  opacity: 0;
}
#goods .product-store .product-card:hover .cart-concern {
  bottom: calc( 90 / 768 * 100vw * var(--bs-var));
  opacity: 1;
}
#goods .product-card .cart-concern svg {
  width: calc( 16 / 768 * 100vw * var(--bs-var));
  height: calc( 16 / 768 * 100vw * var(--bs-var));
  fill: var(--light-color);
  margin-left: calc( 9 / 768 * 100vw * var(--bs-var));
}
#goods .product-card .card-detail span {
  font-size: 1.5em;
}
#goods .product-store
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: calc( 35 / 768 * 100vw * var(--bs-var));
}
#goods .swiper-pagination span.swiper-pagination-bullet {
  width: calc( 15 / 768 * 100vw * var(--bs-var));
  height: calc( 15 / 768 * 100vw * var(--bs-var));
}
#goods .paging-navigation .pagination .page-numbers {
  font-size: 1.4em;
  color: var(--gray-color-500);
}
#goods .paging-navigation .pagination .page-numbers:hover {
  color: var(--primary-color);
}
#goods .paging-navigation .pagination svg {
  width: calc( 35 / 768 * 100vw * var(--bs-var));
}
/*------------ Sidebar -----------*/
#goods .sidebar-post-item h4.card-title {
  font-size: 1.2em;
}
}
@media (min-width: 768px) {
  #goods .padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}
#goods .no-padding-top {
  padding-top: 0 !important;
}
#goods .no-padding {
  padding: 0 !important;
}
#goods h3.card-title,
#goods h3.cart-title {
  font-size: 1.5em;
}
#goods .btn.btn-medium {
  padding: 0.8em 2.8em;
  font-size: 1.1em;
  letter-spacing: calc( 2 / 1200 * 100vw * var(--bs-var));
}
#goods .btn.btn-normal {
  text-decoration: underline;
  border: none;
}
#goods .btn.btn-normal:hover {
  text-decoration: none;
}
#goods .btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}
#goods .btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
#goods .btn-right {
  text-align: right;
  display: block;
}
#goods .swiper {
  padding: calc( 1.6 / 1200 * 100vw * var(--bs-var))
 !important;
}
/* 4. Product
/*----------------------------------------------*/
#goods .product-store .product-card .cart-concern {
  bottom: calc( 75 / 1200 * 100vw * var(--bs-var));
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  opacity: 0;
}
#goods .product-store .product-card:hover .cart-concern {
  bottom: calc( 90 / 1200 * 100vw * var(--bs-var));
  opacity: 1;
}
#goods .product-card .cart-concern svg {
  width: calc( 16 / 1200 * 100vw * var(--bs-var));
  height: calc( 16 / 1200 * 100vw * var(--bs-var));
  fill: var(--light-color);
  margin-left: calc( 9 / 1200 * 100vw * var(--bs-var));
}
#goods .product-card .card-detail span {
  font-size: 1.5em;
}
#goods .product-store
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: calc( 35 / 1200 * 100vw * var(--bs-var));
}
#goods .swiper-pagination span.swiper-pagination-bullet {
  width: calc( 15 / 1200 * 100vw * var(--bs-var));
  height: calc( 15 / 1200 * 100vw * var(--bs-var));
}
#goods .paging-navigation .pagination .page-numbers {
  font-size: 1.4em;
  color: var(--gray-color-500);
}
#goods .paging-navigation .pagination .page-numbers:hover {
  color: var(--primary-color);
}
#goods .paging-navigation .pagination svg {
  width: calc( 35 / 1200 * 100vw * var(--bs-var));
}
/*------------ Sidebar -----------*/
#goods .sidebar-post-item h4.card-title {
  font-size: 1.2em;
}
}

@media only screen and (max-width: 767px) {
  #billboard .banner-content {
    margin-top: 210px;
  }
  #billboard .image-holder {
    margin-top: -390px;
    opacity: 0.3;
  }
  #billboard .swiper-arrow {
    top: 400px;
  }
  .chevron-left {
    margin-left: -10vw;
  }
  .chevron-right {
    margin-right: -30vw;
  }
}
@media only screen and (max-width: 575px) {
  .product-store .product-card .card-detail {
    padding: 10px;
  }
}