#introduction {
  --brand: #ff4d29;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  font-family: "Barlow", sans-serif;
  color: var(--body);
  line-height: 1.7;
}

#introduction a {
  color: var(--dark);
  transition: all 0.4s ease;
  font-weight: 500;
}

#introduction .slide {
  min-height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#introduction .slide1,
#introduction .slide2 {
  background-size: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
}

#introduction .slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../new_img/bg_banner2.jpg);
}

#introduction .slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../new_img/bg_banner1.jpg);
}

#introduction .slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}

#introduction h1,
#introduction h2,
#introduction h3,
#introduction h4,
#introduction h5,
#introduction h6,
#introduction .display-1,
#introduction .display-2,
#introduction .display-3,
#introduction .display-4 {
  font-weight: 700;
  color: var(--dark);
}

#introduction .btn-brand {
  border-color: var(--brand);
  background-color: var(--brand);
  color: #fff;
}

#introduction .btn-brand:hover {
  border-color: #fff;
  background-color: #fff;
  color: var(--brand);
  font-weight: 700;
}

#introduction .btn-outline-light {
  color: #fff;
}

#introduction .btn-outline-light:hover {
  color: var(--dark);
}

#introduction .btn {
  padding: calc(8 / 576 * 100vw * var(--bs-var))
    calc(26 / 576 * 100vw * var(--bs-var));
  cursor: pointer;
}

#introduction .hero-slider .owl-prev,
#introduction .hero-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.3) !important;
  width: calc(60 / 576 * 100vw * var(--bs-var)) !important;
  height: calc(60 / 576 * 100vw * var(--bs-var)) !important;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: calc(100 / 576 * 100vw * var(--bs-var)) !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: calc(12 / 576 * 100vw * var(--bs-var)) !important;
  transition: all 0.4s ease;
  margin-top: calc(-30 / 576 * 100vw * var(--bs-var)) !important;
}

#introduction section {
  padding-top: calc(80 / 576 * 100vw * var(--bs-var));
  padding-bottom: calc(80 / 576 * 100vw * var(--bs-var));
}

#introduction .info-box {
  align-items: center;
  display: flex;
}

#introduction img {
  width: 100%;
}

#introduction .info-box img {
  width: calc(90 / 576 * 100vw * var(--bs-var));
}

#introduction #milestone {
  background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)),
    url(../new_img/bg_banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#introduction #milestone h1,
#introduction #milestone p {
  color: #fff;
}

#introduction .intro {
  margin-bottom: calc(36 / 576 * 100vw * var(--bs-var));
  text-align: center;
}

#introduction .intro h6 {
  color: var(--brand);
  font-weight: 400;
  text-transform: uppercase;
}

#introduction .intro h1 {
  margin-top: calc(15 / 576 * 100vw * var(--bs-var));
  margin-bottom: calc(15 / 576 * 100vw * var(--bs-var));
}

#introduction .intro p {
  max-width: calc(500 / 576 * 100vw * var(--bs-var));
}

#introduction .service {
  padding: calc(32 / 576 * 100vw * var(--bs-var));
  background-color: #fff;
  box-shadow: var(--shadow);
}

#introduction .service img {
  width: calc(90 / 576 * 100vw * var(--bs-var));
}

#introduction .service h5 {
  margin-top: calc(24 / 576 * 100vw * var(--bs-var));
  margin-bottom: calc(14 / 576 * 100vw * var(--bs-var));
}

#introduction .project {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

#introduction .project .overlay {
  width: 100%;
  height: calc(220 / 576 * 100vw * var(--bs-var));
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 76, 41, 0) 0%,
    var(--dark) 100%
  );
}

#introduction .project .content {
  position: absolute;
  left: calc(10% / 576 * 100vw * var(--bs-var));
  bottom: calc(10% / 576 * 100vw * var(--bs-var));
}

#introduction .project h2,
#introduction .project h6 {
  color: #fff;
}

#introduction .project h6 {
  font-weight: 400;
}

#introduction .project h6::before {
  content: "";
  height: calc(2 / 576 * 100vw * var(--bs-var));
  width: calc(30 / 576 * 100vw * var(--bs-var));
  display: inline-block;
  background: var(--brand);
  vertical-align: middle;
  margin-right: calc(10 / 576 * 100vw * var(--bs-var));
}
@media (min-width: 576px) {
  #introduction a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
  }

  #introduction .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #introduction .slide1,
  #introduction .slide2 {
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
  }

  #introduction .slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../new_img/bg_banner2.jpg);
  }

  #introduction .slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../new_img/bg_banner1.jpg);
  }

  #introduction .slide .display-3 {
    text-transform: uppercase;
    color: #fff;
  }

  #introduction h1,
  #introduction h2,
  #introduction h3,
  #introduction h4,
  #introduction h5,
  #introduction h6,
  #introduction .display-1,
  #introduction .display-2,
  #introduction .display-3,
  #introduction .display-4 {
    font-weight: 700;
    color: var(--dark);
  }

  #introduction .btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
  }

  #introduction .btn-brand:hover {
    border-color: #fff;
    background-color: #fff;
    color: var(--brand);
    font-weight: 700;
  }

  #introduction .btn-outline-light {
    color: #fff;
  }

  #introduction .btn-outline-light:hover {
    color: var(--dark);
  }

  #introduction .btn {
    padding: calc(8 / 576 * 100vw * var(--bs-var))
      calc(26 / 576 * 100vw * var(--bs-var));
    cursor: pointer;
  }

  #introduction .hero-slider .owl-prev,
  #introduction .hero-slider .owl-next {
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: calc(60 / 768 * 100vw * var(--bs-var)) !important;
    height: calc(60 / 768 * 100vw * var(--bs-var)) !important;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: calc(100 / 768 * 100vw * var(--bs-var)) !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: calc(12 / 768 * 100vw * var(--bs-var)) !important;
    transition: all 0.4s ease;
    margin-top: calc(-30 / 768 * 100vw * var(--bs-var)) !important;
  }

  #introduction section {
    padding-top: calc(80 / 768 * 100vw * var(--bs-var));
    padding-bottom: calc(80 / 768 * 100vw * var(--bs-var));
  }

  #introduction .info-box {
    align-items: center;
    display: flex;
  }

  #introduction img {
    width: 100%;
  }

  #introduction .info-box img {
    width: calc(90 / 768 * 100vw * var(--bs-var));
  }

  #introduction #milestone {
    background: linear-gradient(
        rgba(255, 77, 41, 0.85),
        rgba(255, 77, 41, 0.85)
      ),
      url(../new_img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #introduction #milestone h1,
  #introduction #milestone p {
    color: #fff;
  }

  #introduction .intro {
    margin-bottom: calc(36 / 768 * 100vw * var(--bs-var));
    text-align: center;
  }

  #introduction .intro h6 {
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
  }

  #introduction .intro h1 {
    margin-top: calc(15 / 768 * 100vw * var(--bs-var));
    margin-bottom: calc(15 / 768 * 100vw * var(--bs-var));
  }

  #introduction .intro p {
    max-width: calc(500 / 768 * 100vw * var(--bs-var));
  }

  #introduction .service {
    padding: calc(32 / 768 * 100vw * var(--bs-var));
    background-color: #fff;
    box-shadow: var(--shadow);
  }

  #introduction .service img {
    width: calc(90 / 768 * 100vw * var(--bs-var));
  }

  #introduction .service h5 {
    margin-top: calc(24 / 768 * 100vw * var(--bs-var));
    margin-bottom: calc(14 / 768 * 100vw * var(--bs-var));
  }

  #introduction .project {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }

  #introduction .project .overlay {
    width: 100%;
    height: calc(220 / 768 * 100vw * var(--bs-var));
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 76, 41, 0) 0%,
      var(--dark) 100%
    );
  }

  #introduction .project .content {
    position: absolute;
    left: calc(10% / 768 * 100vw * var(--bs-var));
    bottom: calc(10% / 768 * 100vw * var(--bs-var));
  }

  #introduction .project h2,
  #introduction .project h6 {
    color: #fff;
  }

  #introduction .project h6 {
    font-weight: 400;
  }

  #introduction .project h6::before {
    content: "";
    height: calc(2 / 768 * 100vw * var(--bs-var));
    width: calc(30 / 768 * 100vw * var(--bs-var));
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: calc(10 / 768 * 100vw * var(--bs-var));
  }
}

@media (min-width: 768px) {
  #introduction a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
  }

  #introduction .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #introduction .slide1,
  #introduction .slide2 {
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
  }

  #introduction .slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../new_img/bg_banner2.jpg);
  }

  #introduction .slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../new_img/bg_banner1.jpg);
  }

  #introduction .slide .display-3 {
    text-transform: uppercase;
    color: #fff;
  }

  #introduction h1,
  #introduction h2,
  #introduction h3,
  #introduction h4,
  #introduction h5,
  #introduction h6,
  #introduction .display-1,
  #introduction .display-2,
  #introduction .display-3,
  #introduction .display-4 {
    font-weight: 700;
    color: var(--dark);
  }

  #introduction .btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
  }

  #introduction .btn-brand:hover {
    border-color: #fff;
    background-color: #fff;
    color: var(--brand);
    font-weight: 700;
  }

  #introduction .btn-outline-light {
    color: #fff;
  }

  #introduction .btn-outline-light:hover {
    color: var(--dark);
  }

  #introduction .btn {
    padding: calc(8 / 576 * 100vw * var(--bs-var))
      calc(26 / 576 * 100vw * var(--bs-var));
    cursor: pointer;
  }

  #introduction .hero-slider .owl-prev,
  #introduction .hero-slider .owl-next {
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: calc(60 / 1200 * 100vw * var(--bs-var)) !important;
    height: calc(60 / 1200 * 100vw * var(--bs-var)) !important;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: calc(100 / 1200 * 100vw * var(--bs-var)) !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: calc(12 / 1200 * 100vw * var(--bs-var)) !important;
    transition: all 0.4s ease;
    margin-top: calc(-30 / 1200 * 100vw * var(--bs-var)) !important;
  }

  #introduction section {
    padding-top: calc(80 / 1200 * 100vw * var(--bs-var));
    padding-bottom: calc(80 / 1200 * 100vw * var(--bs-var));
  }

  #introduction .info-box {
    align-items: center;
    display: flex;
  }

  #introduction img {
    width: 100%;
  }

  #introduction .info-box img {
    width: calc(90 / 1200 * 100vw * var(--bs-var));
  }

  #introduction #milestone {
    background: linear-gradient(
        rgba(255, 77, 41, 0.85),
        rgba(255, 77, 41, 0.85)
      ),
      url(../new_img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #introduction #milestone h1,
  #introduction #milestone p {
    color: #fff;
  }

  #introduction .intro {
    margin-bottom: calc(36 / 1200 * 100vw * var(--bs-var));
    text-align: center;
  }

  #introduction .intro h6 {
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
  }

  #introduction .intro h1 {
    margin-top: calc(15 / 1200 * 100vw * var(--bs-var));
    margin-bottom: calc(15 / 1200 * 100vw * var(--bs-var));
  }

  #introduction .intro p {
    max-width: calc(500 / 1200 * 100vw * var(--bs-var));
  }

  #introduction .service {
    padding: calc(32 / 1200 * 100vw * var(--bs-var));
    background-color: #fff;
    box-shadow: var(--shadow);
  }

  #introduction .service img {
    width: calc(90 / 1200 * 100vw * var(--bs-var));
  }

  #introduction .service h5 {
    margin-top: calc(24 / 1200 * 100vw * var(--bs-var));
    margin-bottom: calc(14 / 1200 * 100vw * var(--bs-var));
  }

  #introduction .project {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }

  #introduction .project .overlay {
    width: 100%;
    height: calc(220 / 1200 * 100vw * var(--bs-var));
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 76, 41, 0) 0%,
      var(--dark) 100%
    );
  }

  #introduction .project .content {
    position: absolute;
    left: calc(10% / 1200 * 100vw * var(--bs-var));
    bottom: calc(10% / 1200 * 100vw * var(--bs-var));
  }

  #introduction .project h2,
  #introduction .project h6 {
    color: #fff;
  }

  #introduction .project h6 {
    font-weight: 400;
  }

  #introduction .project h6::before {
    content: "";
    height: calc(2 / 1200 * 100vw * var(--bs-var));
    width: calc(30 / 1200 * 100vw * var(--bs-var));
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: calc(10 / 1200 * 100vw * var(--bs-var));
  }
}
