@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

body {
    background-color: #fff;
}

.nav-link:hover {
    color: #2e89aa !important;
}

.form-wizard-header .nav-item .nav-link.active {
    color: white !important;
    background-color: #3bafda !important;
}

.form-wizard-header .nav-item .nav-link {
    border-radius: 4px;
    background-color: rgba(59, 175, 218, .2) !important;
    border: 1px solid rgba(59, 175, 218, .2) !important;
}

.form-wizard-header .nav-item .nav-link .number {
    color: #3bafda !important;
    background-color: rgba(59, 175, 218, .2) !important;
}

.form-wizard-header .nav-item .nav-link.active .number {
    color: #fff !important;
    background-color: rgba(255, 255, 255, .2) !important;
}

.btn-instruction {
    text-align: end;
}

.logoedit {
    height: 77px;
    position: relative;
}

@media (max-width:375px) {
    .logoedit {
        margin-bottom: 10px;
    }
}

.logoedit {
    text-align: center;
}

.logoedit img {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    height: 3rem;
    margin: 1rem;
}

.link-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 77px;
}

@media (max-width:600px) {
    .link-list {
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
}

.link-list li {
    list-style: none;
    width: 75px;
    margin-right: 5px;
}

.link-list li a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 30px;
    text-align: center;
}

.link-list li a.active {
    background: #FFB600;
    color: white;
    border-radius: 5px;
}

.fn-btn {
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: #F1F5F7;
    cursor: pointer;
}

.setting {
    position: relative;
}

.setting .dropdown-menu.show[data-popper-placement=bottom-start] {
    top: 0 !important;
    animation: none;
}

.banner-setting {
    position: relative;
}

.second-txt {
    position: relative;
}

.img-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.img-list li {
    width: 33.3%;
    padding: 1%;
    list-style: none;
}

.image {
    position: relative;
}

@media (max-width:500px) {
    .img-list {
        flex-wrap: wrap;
    }

    .img-list li {
        width: 100%;
    }
}

.img-list li:nth-child(2) {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.img-list li img {
    width: 100%;
}

.txt-list {
    display: flex;
    padding: 0;
    margin: 0;
}

@media (max-width:500px) {
    .txt-list {
        flex-wrap: wrap;
    }
}

.txt-list li {
    width: 33.3%;
    padding: 1%;
    list-style: none;
    position: relative;
}

@media (max-width:500px) {
    .txt-list li {
        width: 100%;
    }
}

.title-txt .dashline {
    position: relative;
}

.tilte-black {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
}

.tilte-black li {
    list-style: none;
    width: 50%;
    position: relative;
}

@media (max-width:375px) {
    .tilte-black li {
        width: 100%;
    }
}

.tilte-black li:nth-child(3) {
    width: 100%;
    display: flex;
}

.tilte-black li p {
    font-size: 11px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.tilte-black li h3 {
    font-size: 27px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.sec-txt {
    position: relative;
}

.sec-txt .btn-edit {
    position: absolute;
    right: 0;
    top: 0;
}

.bor-top {
    border-top: none;
}

.bor-bottom {
    border-bottom: none;
}

.box-img:hover {
    border: 1px dashed #CCCCCC;
}

.img-edit:hover {
    border: 1px dashed #CCCCCC;
}

.img-edit {
    position: relative;
}

@media (max-width:375px) {
    .img-edit img {
        width: 100% !important;
    }
}

.box-title:hover {
    border: 1px dashed #CCCCCC;
}

.time-list {
    display: flex;
    justify-content: center;
    padding: 17px 0;
}

.time-list li {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) {
    .time-list {
        flex-wrap: wrap;
    }
}

.time-list li:nth-child(2) {
    width: 3% !important;
}

.time-list li p:nth-child(2) {
    font-size: 17px;
}

.time-list li:nth-child(3) {
    width: 33.3% !important;
}

@media (max-width:500px) {
    .tilte-black li:nth-child(3) {
        flex-wrap: wrap;
    }
}

.time-list li p:nth-child(3) {
    font-size: 11px;
    color: #FFB600;
}

.pt-23 {
    padding-top: 23px !important;
}

.time-list img {
    width: 47px;
}

/* .btn-edit {
     display: none;
 } */

.single-line-center {
    text-align: center;
}

@media (max-width:600px) {
    .single-line-center {
        padding: 10px;
    }
}

.multi-line-left {
    display: inline-block;
    text-align: left;
}

.txt-edit {
    padding: 15px;
}

.txt-edit p:nth-child(1) {
    padding: 0;
    margin: 0;
}

.blue-top {
    border-top: none;
}

.blue-bottom {
    border-bottom: none;
}

.yellow {
    color: #FFB600;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.yellow-txt {
    margin: 0;
}

@media (max-width:600px) {
    .yellow-txt {
        padding-left: 0;
    }
}

.yellow-txt li {
    list-style: none;
    padding: 68px 50px 0 50px;
}

@media (max-width:600px) {
    .yellow-txt li {
        list-style: none;
        padding: 40px 20px 0 20px;
    }
}

.yellow-txt li:nth-child(2) {
    padding: 20px 50px 75px 50px;
}

@media (max-width:600px) {
    .yellow-txt li:nth-child(2) {
        padding: 20px 20px 20px 20px;
    }
}

.yellow-txt p {
    font-size: 16px;
}

.gray {
    background-color: #F9F9F9;
}

.data-list ul {
    display: flex;
    padding-left: 0;
}

.data-list ul li {
    list-style: none;
    margin-right: 20px;
}

@media (max-width:375px) {
    .data-list ul li {
        width: 50%;
    }
}

.data-list p {
    margin: 0;
    font-size: 16px;
}

.data-list .title {
    font-weight: bold;
    padding-bottom: 5px;
}

.w-600 {
    max-width: 600px;
    padding-bottom: 15px;
}

.addrbox {
    background-color: #272D33;
    color: white;
    padding: 15px;
}

.addrbox ul {
    display: flex;
    flex-wrap: wrap;
}

.addrbox ul li {
    list-style: none;
    width: 20%;
}

@media (max-width:800px) {
    .addrbox ul li {
        width: 25%;
    }
}

@media (max-width:600px) {
    .addrbox ul li {
        width: 50%;
        margin-bottom: 25px;
    }
}

@media (max-width:576px) {
    .addrbox ul li {
        width: 100%;
        margin-bottom: 25px;
    }
}

.addrbox ul li p {
    margin: 0;
    font-size: 8px;
}

.addrbox ul li p:nth-child(1) {
    padding: 10px 0;
}

.icon {
    padding-left: 0;
    padding-top: 25px;
}

.icon li img {
    width: 20px;
    height: 20px;
}

@media (max-width:600px) {
    .icon li {
        width: 35px !important;
    }
}

.addrbox iframe {
    max-width: 144px;
    max-height: 93px;
}

.next-step {
    position: relative;
    display: flex;
    justify-content: center;
}

.next-step2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive table {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

@media (max-width:700px) {
    .wrap {
        flex-wrap: wrap;
    }
}

@media (max-width:600px) {
    .order {
        order: -1;
    }
}

.nav-link:focus,
.nav-link:hover {
    color: var(--main-color);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: white;
    opacity: 1;
}

label {
    font-weight: normal !important;
}

.txt-info {
    text-align: left;
    color: #98A6AD;
}

.txt-info input {
    border: none;
}

.data-time {
    position: relative;
}

.data-time .ri-calendar-event-fill {
    position: absolute;
    right: 20px;
    top: 10px;
}

.date {
    position: relative;
}

.date .ri-calendar-event-fill {
    position: absolute;
    right: 8px;
    top: 10px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: var(--main-color) !important;
    color: #fff;
}

.add-icon, .del-icon {
    cursor: pointer;
}

.openBtn {
    color: #3BAFDA;
    cursor: pointer;
    margin: 0;
}

.morebtn {
    position: absolute;
    right: -12px;
    bottom: -1px;
}

@media (max-width:1200px) {
    .morebtn {
        position: absolute;
        right: 0;
        bottom: -17px;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

table.mainTable .txt-over {
    white-space: normal;
    min-width: 190px;
}

.txt-over .btn {
    padding: 0;
}

.txt-over .button-list {
    margin: 0;
}

.popover {
    min-width: 320px;
}

.popover-body {
    color: #98A6AD;
}

/* .tooltip-inner {
    max-width: 200px;
    padding: .4rem .8rem;
    color: #98A6AD;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    border: 1px solid #EBEBEB;
} */

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,
.bs-tooltip-end .tooltip-arrow::before {
    border-color: transparent #d3d3d3 transparent transparent !important;
    border-style: solid;
    border-width: .4rem .4rem .4rem 0;
    left: 0px;
    top: 35%;
    content: "";
    position: absolute;
    width: 0px;
    height: 0;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::after,
.bs-tooltip-end .tooltip-arrow::after {
    border-color: transparent #ffffff transparent transparent !important;
    border-style: solid;
    border-width: .4rem .4rem .4rem 0;
    left: 1px;
    top: 35%;
    content: "";
    position: absolute;
    width: 0px;
    height: 0;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before,
.bs-tooltip-start .tooltip-arrow::before {
    left: -1px;
    top: 20%;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: .4rem 0 .4rem .4rem;
    border-color: transparent transparent transparent #7c7b7b !important;
    width: 0px;
    height: 0;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::after,
.bs-tooltip-start .tooltip-arrow::after {
    left: -1px;
    top: 20%;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: .4rem 0 .4rem .4rem;
    border-color: transparent transparent transparent #ffffff !important;
    width: 0px;
    height: 0;
}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0;
}

@media (max-width:500px) {
    #basicwizard .nav-item:last-child {
        margin: 0;
        margin-top: 10px;
    }
}

.btn-add {
    display: block !important;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 !important;
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    background-color: #EBEBEB !important;
    color: white !important;
    transition: all linear 0.4s !important;
}

.btn-add:hover {
    background-color: #b6b3b3 !important;
    color: white !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-secondary.btn-bordered {
    border-bottom: none;
}

#modalRequisition .item {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;
}

#modalRequisition .addImg {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

#modalRequisition .addImg .plus-icon {
    height: 200px;
    text-align: center;
    font-size: 20px;
    border: 2px dashed #ced4da;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modalRequisition .addImg .plus-icon .fa {
    line-height: 180px;
}

#modalRequisition .addImg0 {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

#modalRequisition .addImg0 .plus-icon {
    height: 200px;
    text-align: center;
    font-size: 20px;
    border: 2px dashed #ced4da;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modalRequisition .addImg0 .plus-icon .fa {
    line-height: 180px;
}

#modalRequisition .preview,
#modalRequisition .preBlock {
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
}

.delete {
    width: 14px;
    position: absolute;
    right: 4px;
    top: 5px;
    cursor: pointer;
    display: none;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background: #999;
    border-radius: 50%;
    z-index: 100;
}

.delete-download {
    width: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #999;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid #999;
    z-index: 100;
}

#modalRequisition .preBlock img {
    display: block;
    width: 100%;
    height: 200px;
}

.upload_input {
    display: block;
    width: 0;
    height: 0;
    -webkit-opacity: 0.0;
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: .0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.preBlock img[src=""],
img:not([src]) {
    opacity: 0;
    height: 0 !important;
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#option_show_img {
    max-width: 100%;
}

.step2-btn {
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px) {
    .step2-btn {
        flex-direction: column;
    }
}

.option2-img {
    max-width: 100%;
}

.addImg_no_style,
.fe-image {
    color: #7E868D;
}

.numspan {
    margin-right: 12px;
    margin-left: -20px;
    margin-bottom: 10px;
    display: inline-block;
}

.block3-2,
.block3-3 {
    display: none;
}

::-webkit-scrollbar {
    background-color: #ffffff;
    width: 16px;
    height: 16px;
}


.tab-content {
    background-color: #fff;
}

.card-header {
    background-color: rgba(59, 175, 218, .2) !important;
}

.card-header .card-title, .card-header .card-widgets {
    color: var(--main-color);
}

.card-widgets>a.collapsed i.mdi-chevron-up:before {
    content: "\f0140";
}

.btn-g i {
    color: #98A6AD;
    font-size: 22px;
}

.upload-img .show {
    display: block;
}

.block_item .plus-icon {
    margin: 0;
}

.myform {
    border: 0;
    box-shadow: none;
}

.myform:focus {
    border: 1px solid #ced4da;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
}

.back-to-top {
    position: absolute;
    left: 30%;
    z-index: 99;
    top: 20px;
}

.back-to-end {
    position: absolute;
    left: 30%;
    z-index: 99;
    bottom: 20px
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: #FFFFFF;
    border-color: #1363C6;
    color: #1363C6 !important
    /* border-radius: 50px; */
}

.btn-md {
    width: 100px;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: calc(100% - 15px);
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.border-gray {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}

.fn-btn {
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: #F1F5F7;
    cursor: pointer;
}

.ql-container.ql-snow {
    border: none;
}

.ql-toolbar {
    display: none;
}

.ql-toolbar.active {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 2;
}

:has(>.word) {
    position: relative !important;
}

:has(>.img-fluid) {
    position: relative !important;
}

.title {
    position: relative;
}

.video {
    position: relative;
}

.dropstart {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    display: none;
    border-radius: 3px;
}

.dropstart.active {
    position: absolute;
    display: block;
}

.page-item.active .page-link.new-color {
    z-index: 3;
    color: #fff;
    background-color: #3bafda;
    border-color: #3bafda;
}

.nav-link:focus,
.nav-link:hover {
    color: #3bafda;
}

.layout-form-check.form-check {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.layout-form-check span {
    font-size: 16px;
}

.form-check-label span {
    font-size: 18px;
}

.lightbox {
    display: none;
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.drag-wrap {
    display: flex;
}

.table> :not(caption)>*>* {
    border-color: transparent;
}

.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: #f1f5f7;
}

.nav-link:focus,
.nav-link:hover {
    color: #3bafda;
}

.table-hover {
    border-spacing: 0px 15px;
    border-collapse: separate;
}

.tab-pane2 .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 275px;
}

.tab-pane2 .right {
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tab-pane .right {
    justify-content: center;
    align-items: center;
}

#backgroundTab1 .pre-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
}

#backgroundTab2 .pre-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.pre-box {
    width: 46%;
    margin: 2%;
}

.pre-box p {
    margin-bottom: 5px;
}

.pre-img {
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.pre-img.active {
    border: 1px solid #3BAFDA;
}

.pre-img img {
    max-width: 100%;
    padding: 10px;
}

.pre-img .pre-background {
    padding-bottom: 45%;
    margin: 10px;
}

.pre-background2 {
    padding-bottom: 240px;
    margin: 10px;
    width: 100%;
}

.tab-pane2 .right img {
    width: 100%;
    padding: 0 50px;
}

@media (max-width:500px) {
    .tab-pane2 .right img {
        padding: 50px
    }
}

.sp-original-input-container .sp-add-on {
    width: 40px !important;
}

@media (max-width:500px) {
    .sp-original-input-container {
        margin-bottom: 20px !important;
    }
}

.sp-container {
    z-index: 1055 !important;
}

.palette-box {
    width: 100%;
    min-height: 240px;
    background: #F7B84B;
    margin: 10px;
}

.uploadItem {
    display: inline-block;
    position: relative;
    width: 85%;
    height: 200px;
}

@media (max-width:500px) {
    .float-sm-end {
        margin-bottom: 20px;
    }
}

::-webkit-scrollbar {
    background-color: #ffffff;
    width: 10px;
}


.numspan {
    margin-right: 12px;
    margin-left: -20px;
    margin-bottom: 10px;
    display: inline-block;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white !important;
    opacity: 1;
}

.flatpickr-day.selected {
    background: #569ff7;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: #569ff7;
}

.flatpickr-day.selected {
    background: #569ff7 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
    border-color: #569ff7 !important;
}

.flatpickr-months .flatpickr-month, .flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-prev-month {
    color: rgba(0, 0, 0, 0.9) !important;
    fill: rgba(0, 0, 0, 0.9) !important;
}

.flatpickr-months .flatpickr-month {
    height: 34px !important;
}

.flatpickr-current-month {
    font-size: 135% !important;
}

:root {
    --main-color: #3BAFDA;
    --sec-color: #62BFE1;
    --dark-blue: #239eca;
    --font-color: #7E868D;
    --border-color: #C8C8C8;
    --light-grey: #EBEBEB;
}

.main-btn {
    color: #fff !important;
    background: var(--main-color) !important;
    transition: all linear 0.2s !important;
}

.main-btn:hover {
    color: #fff;
    background: var(--dark-blue) !important;
}

.main-btn:focus {
    color: #fff;
    background: var(--dark-blue) !important;
    box-shadow: none !important;
}

.sec-btn {
    color: var(--font-color) !important;
    background: var(--light-grey) !important;
    transition: all linear 0.2s !important;
}

.sec-btn:hover {
    color: var(--font-color) !important;
    background: var(--border-color) !important;
}

.sec-btn:focus {
    color: var(--font-color) !important;
    background: var(--border-color) !important;
    box-shadow: none !important;
}

.tab-btn {
    display: flex;
    justify-content: flex-end;
}

.prizeTab2-btn, .prizeTab3-btn {
    display: none;
}

#add_item {
    display: none;
}

#modalDraw2 .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redtxt {
    color: #F1556C;
}

.bluetxt {
    color: #3BAFDA;
}

.btn-add {
    color: white;
}

.btn-add:hover {
    background-color: #6c757d;
    color: white;
}

.btntxt-wrap .btn {
    color: #7E868D;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.btntxt-wrap .btn:hover {
    color: #fff;
    background-color: #F1556C;
}

.btntxt-wrap .btn.active {
    color: #fff;
    background-color: #F1556C;
}

.txt-content {
    border: 1px solid #ced4da;
    height: 300px;
    overflow-y: scroll;
    border-radius: 3px;
}

.txt-content textarea {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    color: #7E868D;
}

.img-btn {
    cursor: pointer;
}

.fe-chevron-down {
    display: none;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check .form-check-input {
    margin-right: 0.5rem;
}

.embed-container {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container-squarish {
    position: relative;
    padding-bottom: 120%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentTitle:nth-child(1) {
    height: 40px;
}

strong {
    font-weight: bolder !important;
}

img.tablet {
    display: none;
}

img.phone {
    display: none;
}

.arrow {
    position: relative;
}

.txtPostContent {
    resize: none;
    height: 200px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.col-sm-2percent {
    flex: 0 0 auto !important;
    width: 2% !important;
}

.my-img {
    object-fit: cover;
    width: 150px;
    height: 75px;
}

#LayoutContent p {
    white-space: pre-wrap;
}

.rounded-10 {
    border-radius: 1rem !important;
}

.spWorkVideo {
    position: relative;
}

#divCalcVal .modal-content {
    width: 300px;
    height: 300px;
}

#divCalcVal .tickettext {
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
}

#txtCalcVal {
    margin-left: 22%;
    text-align: center;
    width: 182px;
    height: 36px;
}

#divCalcVal .modal-footer {
    justify-content: center;
}

.divCalcValwt {
    left: 6%;
    top: 3%;
}

.selMission2Platform::-ms-expand {
    display: none !important;
}

a[href='#'] {
    cursor: default;
}

#LayoutContent li {
    list-style-type: none;
}

.btnLogin {
    cursor: pointer !important;
}

textarea, button, input {
    outline: none;
}

.center-div.col-10 {
    --bs-var: 0.833333;
}

.center-div.col-12 {
    --bs-var: 1;
}