::root {
  --nav-color: #fff;
}

#bar .image-item {
  width: calc(85 / 576 * 100vw * var(--bs-var));
  height: calc(40 / 576 * 100vw * var(--bs-var));
}

#bar .image-item img {
  height: 100%;
}
.navbar-toggler {
  border: none;
}
.navbar {
  padding: 0 !important;
  background: transparent;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  outline: none;
  color: #fff;
}

.bar-item {
  color: #000;
}

/* custom */

.navbar .nav-item .dropdown-menu {
  left: 0;
  background-color: #fff;
  top: 100% !important;
  padding: 10px;
}

.user-items ul {
  align-items: center;
  height: 100%;
  line-height: 1;
}

.navbar-collapse {
  display: none;
}

.navbar-wrap .nav-link {
  font-family: var(--font-family-noto-serif-tc);
}

.navbar-wrap h4 {
  font-size: calc(24 / 576 * 100vw * var(--bs-var));
}

.navbar-wrap :is(a, h5) {
  font-size: calc(20 / 576 * 100vw * var(--bs-var));
  font-family: var(--font-family-noto-serif-tc);
}

.nav-item {
  position: initial;
}

.nav-item .dropdown-menu {
  width: 100%;
  border: none;
}

.nav-item .dropdown-menu > div {
  gap: 3rem;
  padding: calc(20 / 576 * 100vw * var(--bs-var)) 0;
}

.navbar .dropdown-toggle::after {
  content: "";
}

.navbar .subbar-list .bar-item .bar-name {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  margin: 1rem 0 !important;
}

.navbar .second-item {
  margin: 1rem 0 !important;
}

.navbar .first-item {
  font-size: 14px !important;
}

@media (min-width: 576px) {
  #bar .image-item {
    width: calc(85 / 768 * 100vw * var(--bs-var));
    height: calc(40 / 768 * 100vw * var(--bs-var));
  }

  #bar .image-item img {
    height: 100%;
  }

  .navbar-light .navbar-nav .nav-link {
    font-weight: 600 !important;
    outline: none;
    font-size: 16px;
  }

  .bar-item {
    color: #fff;
  }

  .navbar .nav-item .dropdown-menu {
    left: 0;
    background-color: #fff;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-wrap .nav-link {
    font-family: var(--font-family-noto-serif-tc);
  }

  .navbar-wrap h4 {
    font-size: calc(24 / 768 * 100vw * var(--bs-var));
  }

  .navbar-wrap :is(a, h5) {
    font-size: calc(20 / 768 * 100vw * var(--bs-var));
    font-family: var(--font-family-noto-serif-tc);
  }

  .nav-item {
    position: initial;
  }

  .nav-item .dropdown-menu {
    width: 100%;
    border: none;
  }

  .nav-item .dropdown-menu > div {
    gap: 3rem;
    padding: calc(20 / 768 * 100vw * var(--bs-var)) 0;
  }

  .navbar .dropdown-toggle::after {
    content: "";
  }
}

@media (max-width: 840px) {
  .nav-item .dropdown-menu > div {
    gap: 0.5rem;
    padding: calc(20 / 768 * 100vw * var(--bs-var)) 0;
  }
}

@media (max-width: 674px) {
  .nav-item .dropdown-menu > div {
    gap: 0rem;
    padding: calc(20 / 768 * 100vw * var(--bs-var)) 0;
  }
}

@media (min-width: 768px) {
  #bar .image-item {
    width: calc(85 / 1200 * 100vw * var(--bs-var));
    height: calc(40 / 1200 * 100vw * var(--bs-var));
  }

  #bar .image-item img {
    height: 100%;
  }

  .navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    outline: none;
  }

  .bar-item {
    color: #fff;
  }

  /* custom */
  .navbar .nav-item .dropdown-menu {
    left: 0;
    background-color: #fff;
  }

  .navbar-collapse {
    display: initial;
  }

  .navbar-wrap .nav-link {
    font-family: var(--font-family-noto-serif-tc);
  }

  .navbar-wrap h4 {
    font-size: calc(24 / 1200 * 100vw * var(--bs-var));
  }

  .navbar-wrap :is(a, h5) {
    font-size: calc(20 / 1200 * 100vw * var(--bs-var));
    font-family: var(--font-family-noto-serif-tc);
  }

  .navbar-wrap.container-fluid {
    padding: 0;
  }

  .nav-item {
    position: initial;
    width: fit-content;
    margin-right: 2rem;
  }

  .nav-item .dropdown-menu {
    width: 100%;
    border: none;
  }

  .navbar .dropdown-toggle::after {
    content: "";
  }
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: -150%;
  width: calc(669 / 576 * 100vw * var(--bs-var));
  height: 100vh;
  z-index: 99999;
  transition: right 0.5s ease-in-out;
  color: #fff;
}

.sidebar .btnLogin {
  background-color: #ffffff;
  color: #3b5d50;
  border-color: #3b5d50;
  border-radius: 100vw;
}

.sidebar.active {
  right: 0;
  width: 100%;
}

.sidebar .left {
  width: 25%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.1s ease;
}

.sidebar.active .left {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s 0.3s ease;
}

.sidebar .right {
  width: 75%;
  height: 100vh;
  background-color: #fff;
  color: #000;

  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

.sidebar-list {
  display: none;
}

.sidebar-list.active {
  display: block;
}

div[data-prev].active {
  display: block;
}

.sidebar-list h3 {
  margin: 10px 0;
  font-family: var(--font-family-noto-serif-tc);
  color: #fff;
  text-align: start;
}

.sidebar-list h3 i {
  margin-right: 0.6rem;
}

.sidebar-list ul {
  padding: 10px 20px;
}

.sidebar-list ul li {
  margin: 0.5rem 0;
  list-style: none;
  font-family: var(--font-family-noto-serif-tc);
  font-size: calc(36 / 1200 * 100vw * var(--bs-var));
}

.close-side-bar {
  text-align: right;
}

.close-side-bar i {
  font-size: 1.4rem;
  margin: 1rem;
}

@media (min-width: 576px) {
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: -150%;
    width: calc(669 / 768 * 100vw * var(--bs-var));
    height: 100vh;
    z-index: 99999;
    transition: right 0.5s ease-in-out;
    color: #fff;
  }

  .sidebar .btnLogin {
    background-color: #ffffff;
    color: #3b5d50;
    border-color: #3b5d50;
    border-radius: 100vw;
  }

  .sidebar.active {
    right: 0;
    width: 100%;
  }

  .sidebar .left {
    width: 25%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.1s ease;
  }

  .sidebar.active .left {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s 0.3s ease;
  }

  .sidebar .right {
    width: 75%;
    height: 100vh;
    background-color: #fff;
    color: #000;
  }

  .sidebar-list {
    display: none;
  }

  .sidebar-list.active {
    display: block;
  }

  div[data-prev].active {
    display: block;
  }

  .sidebar-list h3 {
    font-size: 1.4rem;
    margin: 0.8rem;
    font-family: var(--font-family-noto-serif-tc);
    padding: 10px;
  }

  .sidebar-list h3 i {
    margin-right: 0.6rem;
  }

  .sidebar-list ul {
    padding: 10px 20px;
  }

  .sidebar-list ul li {
    margin-bottom: 1rem;
    list-style: none;
    font-family: var(--font-family-noto-serif-tc);
    font-size: 1rem;
  }

  .close-side-bar {
    text-align: right;
  }

  .close-side-bar i {
    font-size: 1.4rem;
    margin: 16px;
  }
}

@media (min-width: 944px) {
  .navbar-expand-md .navbar-collapse {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    border: none;
    gap: 2rem;
    line-height: 3;
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 15px;
  }

  .sidebar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: -150%;
    width: calc(669 / 1200 * 100vw * var(--bs-var));
    height: 100vh;
    z-index: 99999;
    transition: right 0.5s ease-in-out;
    color: #fff;
  }

  .sidebar .btnLogin {
    background-color: #ffffff;
    color: #3b5d50;
    border-color: #3b5d50;
    border-radius: 100vw;
  }

  .sidebar.active {
    right: 0;
  }

  .sidebar .left {
    width: 25%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.1s ease;
  }

  .sidebar.active .left {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s 0.3s ease;
  }

  .sidebar .right {
    width: 75%;
    height: 100vh;
    background-color: #fff;
    color: #000;
  }

  .sidebar-list {
    display: none;
  }

  .sidebar-list.active {
    display: block;
  }

  div[data-prev].active {
    display: block;
  }

  .sidebar-list h3 {
    font-size: calc(24 / 1200 * 100vw * var(--bs-var));
    margin: calc(24 / 1200 * 100vw * var(--bs-var));
    font-family: var(--font-family-noto-serif-tc);
  }

  .sidebar-list h3 i {
    margin-right: 0.6rem;
  }

  .sidebar-list ul {
    padding: calc(10 / 1200 * 100vw * var(--bs-var))
      calc(20 / 1200 * 100vw * var(--bs-var));
  }

  .sidebar-list ul li {
    margin: 0.5rem 0;
    list-style: none;
    font-family: var(--font-family-noto-serif-tc);
    font-size: calc(20 / 1200 * 100vw * var(--bs-var));
  }

  .close-side-bar {
    text-align: right;
  }

  .close-side-bar i {
    font-size: calc(24 / 1200 * 100vw * var(--bs-var));
    margin: calc(20 / 1200 * 100vw * var(--bs-var));
  }
}

.navbar .navbar-nav {
  margin: 0 !important;
}

.navbar .navbar-nav a {
  color: #717171;
}

.home {
  color: #72aec8 !important;
}
.fa-chevron-left {
  color: #000;
}

@media (max-width: 576px) {
  .navbar {
    padding: 0 !important;
  }
}
